# Nuxt dev/build outputs
.output
.nuxt
dist
pocketbase/.output
# Node dependencies
node_modules
# pocketnuxt binary
pocketnuxt
# pocketbase directories
pb_data
# import directory
import
# yarn
.yarn/install-state.gz
# .env
.env
