# Nuxt dev/build outputs
.output
.nuxt
dist
pocketbase/.output
# Node dependencies
node_modules
# pocketnuxt binary
pocketnuxt
# pocketbase directories
pb_data
pb_migrations
# import directory
import
# .env
.env
# json files
*.json